/* --------------------------Start of News styles.-------------------------- */
.news {
    animation: blur-in 0.4s linear both;
}

.news__header-video {
    position: inherit;
    height: 800px;
    object-fit: fill;
}

.news__header-overlay {
    width: 55%;
    margin-top: -35px;
    position: absolute;
    top: 350px;
    left: 27%;
    transform: translate(-50%, -50%);
    line-height: 1.5;
    z-index: 1;
}

.news__overlay-content {
    padding: 340px 33% 350px 42%;
    width: 100%;
    min-height: 250px;
    background: linear-gradient(
        270deg,
        rgba(0, 0, 0, 0) -3.67%,
        rgba(0, 0, 0, 0.71) 60%
    );
}

.news__overlay-content--title {
    font-size: 48px;
    color: #ffffff;
    font-family: "Abhaya Libre", serif;
    font-weight: normal;
}

.news__separator {
    position: absolute;
    width: 100%;
    height: 290px;
    background: linear-gradient(
        0deg,
        rgba(0, 0, 0, 0.04) 0%,
        rgba(0, 0, 0, 1) 40%,
        rgba(0, 0, 0, 1) 65%,
        rgba(0, 0, 0, 0.04) 90%
    );
    margin-top: -160px;
}

.news__content {
    width: 100%;
    height: auto;
    display: flex;
    overflow: hidden;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    position: static;
    align-content: center;
}

.news__content-video {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 100%;
    min-height: 100%;
    height: auto;
    z-index: -1;
    object-fit: cover;
}

.news__content-sections {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 80%;
    padding: 80px 24px 0 24px;
}

.news__sections-main {
    display: flex;
    align-items: center;
    width: 100%;
    flex-direction: column;
    color: #fff;
}

.news__main-first {
    display: flex;
    flex-direction: column-reverse;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    color: #fff;
}

.news__content-text {
    text-align: left;
    letter-spacing: -0.5px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-size: 16px;
    width: 100%;
    padding: 0;
    align-items: start;
    justify-content: center;
}

.news__main-third {
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: left;
    color: #fff;
}

.news__third-section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.news__drafting-paragraph {
    font-size: 16px;
    display: flex;
    width: 100%;
    gap: 20px;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    align-items: start;
}

.news__firts-image {
    width: 100%;
}

.news__main-second {
    display: flex;
    flex-direction: column;
    padding-top: 24px;
}

/* --------------------------Responsive.-------------------------- */

/* Smartphones, portrait iPhone, portrait 480x320 phones (Android) */
@media (min-width: 320px) {
    .news__overlay-content--title {
        font-size: 48px;
    }

    .news__main-first {
        display: flex;
        flex-direction: column;
        text-align: start;
        width: 100%;
    }

    .news__firts-image {
        width: 100%;
    }

    .news__description-title {
        font-size: 24px;
        padding: 24px 0;
    }

    .news__description-paragraph {
        font-size: 16px;
        padding-bottom: 24px;
    }

    .news__image-main {
        width: 100%;
    }

    .news__firts-description {
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .news__main-second {
        width: 100%;
    }

    .news__second-content {
        width: 100%;
    }

    .news__second-image {
        width: 100%;
    }

    .news__image-middle {
        width: 100%;
    }

    .news__content-text {
        width: 100%;
        padding-bottom: 24px;
    }

    .news__text-paragraph {
        font-size: 16px;
        padding-top: 24px;
    }

    .news__content-image {
        width: 100%;
    }

    .news__image-second {
        width: 100%;
    }

    .news__section-image {
        width: 100%;
    }

    .news--related__content--img {
        width: 100%;
    }

    .news__section-drafting {
        width: 100%;
    }

    .news__third-section {
        display: flex;
        flex-direction: column;
        padding: 0 0 24px 0;
    }

    .news__drafting-paragraph {
        padding: 24px 0;
        font-size: 16px;
    }
}

/* Smartphones, Android phones, landscape iPhone */
@media (min-width: 480px) {
    .news__description-title {
        font-size: 36px;
    }

    .news__overlay-content--title {
        font-size: 60px;
    }

    .news__description-paragraph {
        font-size: 17px;
    }

    .news__text-paragraph {
        font-size: 17px;
    }

    .news__drafting-paragraph {
        font-size: 17px;
    }
}

/* Portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */
@media (min-width: 600px) {
    .news__description-title {
        font-size: 36px;
    }

    .news__overlay-content--title {
        font-size: 72px;
    }

    .news__description-paragraph {
        font-size: 18px;
    }

    .news__text-paragraph {
        font-size: 18px;
    }

    .news__drafting-paragraph {
        font-size: 18px;
    }
}

/* Tablet, landscape iPad, lo-res laptops ands desktops */
@media (min-width: 800px) {
    .news__overlay-content--title {
        font-size: 84px;
    }
    .news__third-section {
        display: flex;
        flex-direction: row;
    }

    .news__firts-image {
        width: 80%;
    }

    .news__content-image {
        width: 80%;
    }

    .news--related__content--img {
        width: 80%;
    }

    .news__second-content {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .news__drafting-paragraph {
        padding: 0 0 24px 0;
    }

    .news__description-title {
        font-size: 40px;
    }

    .news__description-paragraph {
        font-size: 19px;
    }

    .news__text-paragraph {
        font-size: 19px;
    }
}

/* Big landscape tablets, laptops, and desktops */
@media (min-width: 1025px) {
    .news__overlay-content--title {
        font-size: 96px;
    }

    .news__second-content {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        padding-bottom: 24px;
    }

    .news__content-text {
        padding-bottom: 0;
    }

    .news__content-image {
        width: 100%;
    }

    .news__image-second {
        width: 80%;
    }

    .news__description-title {
        font-size: 44px;
    }

    .news__description-paragraph {
        font-size: 20px;
    }

    .news__text-paragraph {
        font-size: 20px;
        padding-top: 0;
    }

    .news__drafting-paragraph {
        font-size: 20px;
        padding-bottom: 24px;
    }
}

/* hi-res laptops and desktops */
@media (min-width: 1281px) {
    .news__overlay-content--title {
        font-size: 108px;
    }

    .news__content-sections {
        padding-top: 100px;
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-between;
        width: 90%;
    }

    .news__sections-main {
        width: 60%;
    }

    .news__main-third {
        width: 30%;
    }

    .news__content-separator {
        height: 2090px;
    }

    .news__description-title {
        font-size: 46px;
    }

    .news__description-paragraph {
        font-size: 21px;
    }

    .news__text-paragraph {
        font-size: 21px;
    }

    .news__drafting-paragraph {
        font-size: 21px;
    }
}

/* Large desktops (1920px and above) */
@media (min-width: 1920px) {
    .news__overlay-content--title {
        font-size: 120px;
    }

    .news__content-separator {
        height: 2950px;
        color: #fff;
    }

    .news__description-title {
        font-size: 48px;
    }

    .news__description-paragraph {
        font-size: 22px;
    }

    .news__text-paragraph {
        font-size: 22px;
    }

    .news__drafting-paragraph {
        font-size: 22px;
    }
}

/* Ultra-wide desktops (2560px and above) */
@media (min-width: 2560px) {
    .news__content-separator {
        height: 3750px;
    }

    .news__description-title {
        font-size: 56px;
    }

    .news__overlay-content--title {
        font-size: 144px;
    }

    .news__description-paragraph {
        font-size: 23px;
    }

    .news__text-paragraph {
        font-size: 23px;
    }

    .news__drafting-paragraph {
        font-size: 22px;
    }
}

/* 4K screens (3840px and above) */
@media (min-width: 3840px) {
    .news__content-separator {
        height: 5600px;
    }

    .news__overlay-content--title {
        font-size: 180px;
    }

    .news__description-paragraph {
        font-size: 24px;
    }

    .news__text-paragraph {
        font-size: 24px;
    }

    .news__drafting-paragraph {
        font-size: 24px;
    }
}
