/* --------------------------Start of Join Us styles.-------------------------- */
.join-us {
    width: 100%;
    animation: blur-in 0.4s linear both;
}

.join-us__form {
    padding: 1px;
}

.join-us__form-header {
    padding: 2% 10%;
    display: flex;
    align-items: center;
    justify-content: left;
}

.join-us__form-header--link {
    background: none;
    border: none;
    cursor: pointer;
}

.join-us__form-header--arrow {
    background: none;
    border: none;
    padding: 0;
    font-size: 48px;
    color: white;
}

.join-us__form-header--title {
    font-weight: lighter;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    margin-top: auto;
    margin-bottom: auto;
    color: #000000;
    font-size: 120px;
    word-break: break-word;
    overflow-wrap: break-word;
    hyphens: auto;
}

.join-us__features {
    display: flex;
    align-items: center;
    justify-content: center;
}

.join-us__form-content {
    display: grid;
    width: 80%;
    height: auto;
    margin: 5% 0%;
    gap: 30px;
    grid-template-columns: repeat(auto-fit, minmax(394px, 1fr));
    grid-auto-rows: minmax(35px, auto);
}

.join-us__form-content--grid {
    display: flex;
    align-items: center;
    justify-content: center;
}

.join-us__form-content--image {
    align-items: center;
    width: 65%;
    height: auto;
}

.join-us__form-content--fields {
    background-color: white;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    margin: 0 auto;
    max-width: 80%;
    border-radius: 24px;
    padding: 30px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}

.join-us__form-content--title {
    font-size: 48px;
}

.join-us__form-content--description {
    padding: 3% 0 5% 0;
    font-size: 22px;
}

.join-us__form-content--label {
    margin-top: 2%;
    font-size: 22px;
}

.join-us__form-content--required {
    color: #e30426;
    font-size: 20px;
}

.join-us__form-content--select,
.join-us__form-content--input {
    width: 100%;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    height: 25px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.join-us__form-content--required-text {
    color: #e30426;
    margin-bottom: 10px;
}

.join-us__form-content--input--error {
    border: 1px solid red;
}

.join-us__message {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    z-index: 9999;
    animation: fadeIn 0.5s ease-out;
}

.join-us__message.success {
    background-color: white;
    color: #059033;
    border: 2px solid #059033;
}

.join-us__message.error {
    background-color: white;
    color: red;
    border: 2px solid red;
}

.join-us__message p {
    margin-left: 10px;
}

.join-us__message svg {
    font-size: 24px;
}

/* --------------------------Responsive.-------------------------- */

/* Smartphones, portrait iPhone, portrait 480x320 phones (Android) */
@media (min-width: 320px) {
    .join-us__form-content--fields {
        max-width: 100%;
        padding: 20px;
    }

    .join-us__form-content {
        display: block;
    }

    .join-us__form-content--image {
        display: none;
    }

    /* Texts */
    .join-us__form-header--title {
        font-size: 48px;
    }

    .join-us__form-header--arrow,
    .join-us__form-content--title {
        font-size: 24px;
    }

    .join-us__form-content--description,
    .join-us__form-content--required-text,
    .join-us__form-content--label {
        font-size: 16px;
    }
}

/* Smartphones, Android phones, landscape iPhone */
@media (min-width: 480px) {
    .join-us__form-content {
        display: block;
    }

    .join-us__form-content--image {
        display: none;
    }

    /* Texts */
    .join-us__form-header--title {
        font-size: 60px;
    }

    .join-us__form-header--arrow,
    .join-us__form-content--title {
        font-size: 32px;
    }

    .join-us__form-content--description,
    .join-us__form-content--required-text,
    .join-us__form-content--label {
        font-size: 17px;
    }
}

/* Portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */
@media (min-width: 600px) {
    .join-us__form-content {
        display: block;
    }

    .join-us__form-content--image {
        display: none;
    }

    /* Texts */
    .join-us__form-header--title {
        font-size: 72px;
    }

    .join-us__form-header--arrow,
    .join-us__form-content--title {
        font-size: 36px;
    }

    .join-us__form-content--description,
    .join-us__form-content--required-text,
    .join-us__form-content--label {
        font-size: 18px;
    }
}

/* Tablet, landscape iPad, lo-res laptops ands desktops */
@media (min-width: 800px) {
    .join-us__form-content {
        display: block;
    }

    .join-us__form-content--image {
        display: none;
    }

    /* Texts */
    .join-us__form-header--title {
        font-size: 84px;
    }

    .join-us__form-header--arrow,
    .join-us__form-content--title {
        font-size: 40px;
    }

    .join-us__form-content--description,
    .join-us__form-content--required-text,
    .join-us__form-content--label {
        font-size: 19px;
    }
}

/* Big landscape tablets, laptops, and desktops */
@media (min-width: 1025px) {
    .join-us__form-content--fields {
        max-width: 100%;
        padding: 30px;
    }

    .join-us__form-content {
        display: grid;
        width: 90%;
    }

    .join-us__form-content--image {
        display: block;
        width: 90%;
    }

    /* Texts */
    .join-us__form-header--title {
        font-size: 96px;
    }

    .join-us__form-header--arrow,
    .join-us__form-content--title {
        font-size: 44px;
    }

    .join-us__form-content--description,
    .join-us__form-content--required-text,
    .join-us__form-content--label {
        font-size: 20px;
    }
}

/* hi-res laptops and desktops */
@media (min-width: 1281px) {
    .join-us__form-content--fields {
        max-width: 80%;
        padding: 30px;
    }

    .join-us__form-content {
        display: grid;
        width: 80%;
    }

    .join-us__form-content--image {
        display: block;
        width: 65%;
    }

    /* Texts */
    .join-us__form-header--title {
        font-size: 108px;
    }

    .join-us__form-header--arrow,
    .join-us__form-content--title {
        font-size: 46px;
    }

    .join-us__form-content--description,
    .join-us__form-content--required-text,
    .join-us__form-content--label {
        font-size: 21px;
    }
}

/* Large desktops (1920px and above) */
@media (min-width: 1920px) {
    .join-us__form-content {
        display: grid;
    }

    .join-us__form-content--image {
        display: block;
    }

    /* Texts */
    .join-us__form-header--title {
        font-size: 120px;
    }

    .join-us__form-header--arrow,
    .join-us__form-content--title {
        font-size: 48px;
    }

    .join-us__form-content--description,
    .join-us__form-content--required-text,
    .join-us__form-content--label {
        font-size: 22px;
    }
}

/* Ultra-wide desktops (2560px and above) */
@media (min-width: 2560px) {
    .join-us__form-content {
        display: grid;
    }

    .join-us__form-content--image {
        display: block;
    }

    /* Texts */
    .join-us__form-header--title {
        font-size: 144px;
    }

    .join-us__form-header--arrow,
    .join-us__form-content--title {
        font-size: 56px;
    }

    .join-us__form-content--description,
    .join-us__form-content--required-text,
    .join-us__form-content--label {
        font-size: 23px;
    }
}

/* 4K screens (3840px and above) */
@media (min-width: 3840px) {
    .join-us__form-content {
        display: grid;
    }

    .join-us__form-content--image {
        display: block;
    }

    /* Texts */
    .join-us__form-header--title {
        font-size: 180px;
    }

    .join-us__form-header--arrow,
    .join-us__form-content--title {
        font-size: 72px;
    }

    .join-us__form-content--description,
    .join-us__form-content--required-text,
    .join-us__form-content--label {
        font-size: 24px;
    }
}
