/* --------------------------Start of Fans styles.-------------------------- */
.fans {
    animation: blur-in 0.4s linear both;
}

.fans__video {
    width: 100%;
    object-fit: cover;
    position: inherit;
    height: 800px;
    flex-shrink: 0;
}

.fans__section {
    width: 55%;
    position: absolute;
    top: 350px;
    left: 27%;
    transform: translate(-50%, -50%);
    line-height: 1.5;
}

.fans__section-header {
    width: 100%;
    min-height: 250px;
    background: linear-gradient(
        270deg,
        rgba(0, 0, 0, 0) -3.67%,
        rgba(0, 0, 0, 0.71) 60%
    );
    padding: 20px 38% 320px 42%;
}

.fans__section-header--tittle {
    color: #ffffff;
    font-family: "Abhaya Libre", serif;
    font-weight: normal;
    margin-top: 270px;
    font-size: 3.1rem;
}

.fans__section-header--content {
    color: #ffffff;
    font-size: 1rem;
    text-align: left;
    margin: 0;
    padding-bottom: 24px;
}

.fans__separator {
    position: absolute;
    top: 650px;
    width: 100%;
    height: 300px;
    backdrop-filter: blur(2px);
    background: linear-gradient(
        0deg,
        rgba(0, 0, 0, 0) 0%,
        rgba(0, 0, 0, 1) 40%,
        rgba(0, 0, 0, 1) 65%,
        rgba(0, 0, 0, 0) 90%
    );
}

.fans__content {
    position: relative;
    width: 100%;
    height: auto;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 100px;
}

.fans__content--video {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1;
    object-fit: cover;
}

.fans__initial-image--collage {
    width: 100%;
}

.image__movil-image--phone {
    width: 100%;
}

.fans__community-image--collage {
    width: 100%;
}

.fans__content-community {
    border-radius: 30px;
    opacity: 0.9;
    background: rgba(63, 14, 13, 0.5);
    backdrop-filter: blur(7.5px);
    text-align: center;
    margin: 24px;
}

.fans__community-section {
    padding: 24px;
}

.fans__community-image {
    padding: 24px;
}

.fans__content-movil {
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    align-content: center;
    display: flex;
    padding: 24px;
}

.fans__initial-content--paragraph {
    font-size: 16px;
    text-align: left;
    color: #ffffff;
}

.fans__initial-content--tittle {
    color: #ffffff;
    font-size: 24px;
    text-align: left;
    white-space: pre-line;
}

.fans__movil-contain--tittle {
    color: #ffffff;
    font-size: 24px;
    text-align: left;
    white-space: pre-line;
}

.fans__section--subtittle {
    color: #fff;
    font-size: 24px;
    text-align: center;
    padding: 24px 0;
}

.fans__section--tittle {
    font-size: 16px;
    color: #ffffff;
}

.fans__section--paragraph {
    font-size: 16px;
    color: #ffffff;
    text-align: center;
}

/* --------------------------Responsive.-------------------------- */

/* Smartphones, portrait iPhone, portrait 480x320 phones (Android) */
@media (min-width: 320px) {
    .fans__content-initial {
        padding: 24px;
    }

    .fans__section-header--tittle {
        font-size: 48px;
    }

    .fans__movil-contain--tittle {
        padding-bottom: 24px;
    }

    .image__movil-image {
        width: 100%;
    }

    .fans__initial-image {
        width: 100%;
    }

    .fans__movil-contain {
        width: 100%;
    }

    .fans__content-movil {
        align-items: center;
        flex-direction: column;
        display: flex;
    }
    .fans__initial-content--tittle {
        padding: 24px 0;
    }
}

/* Smartphones, Android phones, landscape iPhone */
@media (min-width: 480px) {
    .fans__section-header {
        padding: 20px 33% 312px 38%;
    }

    .fans__section-header--tittle {
        font-size: 60px;
    }

    .fans__initial-content--paragraph {
        font-size: 17px;
    }

    .fans__initial-content--tittle {
        font-size: 32px;
    }

    .fans__movil-contain--tittle {
        font-size: 32px;
    }

    .fans__section--tittle {
        font-size: 20px;
    }

    .fans__section--subtittle {
        font-size: 32px;
    }

    .fans__section--paragraph {
        font-size: 17px;
    }
}

/* Portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */
@media (min-width: 600px) {
    .fans__section-header--tittle {
        font-size: 72px;
    }

    .fans__section-header {
        padding: 20px 33% 354px 37%;
    }

    .fans__initial-content--tittle {
        font-size: 36px;
    }

    .fans__movil-contain--tittle {
        font-size: 36px;
        margin: 0;
    }

    .text--content {
        font-size: 18px;
    }

    .fans__section--paragraph {
        font-size: 18px;
    }

    .image__movil-image {
        width: 80%;
    }
}

/* Tablet, landscape iPad, lo-res laptops ands desktops */
@media (min-width: 800px) {
    .fans__initial-content--paragraph {
        font-size: 19px;
    }

    .fans--content__cards--text {
        margin-left: 6px;
    }

    .fans__section-header {
        padding: 20px 33% 318px 37%;
    }

    .fans__section-header--tittle {
        font-size: 84px;
    }

    .fans__initial-content--tittle {
        font-size: 40px;
    }

    .fans__movil-contain--tittle {
        font-size: 40px;
        padding-bottom: 24px;
    }

    .fans__section--tittle {
        font-size: 28px;
    }

    .fans__section--subtittle {
        font-size: 40px;
    }

    .fans__section--paragraph {
        font-size: 19px;
    }

    .fans__content-cards--second img {
        width: 737px;
    }

    .image__movil-image {
        width: 80%;
    }
}

/* Big landscape tablets, laptops, and desktops */
@media (min-width: 1025px) {
    .fans__content-cards--second {
        align-items: center;
        justify-content: space-around;
        flex-direction: row;
        align-content: center;
        display: flex;
    }

    .fans__community-image {
        display: flex;
        padding: 24px;
        width: 50%;
    }

    .fans__content-community {
        width: 90%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 24px 48px;
    }

    .fans__content-movil {
        width: 90%;
        display: flex;
        margin-top: 24px;
        flex-direction: row;
        padding: 24px 48px;
        justify-content: space-between;
    }

    .fans__content-cards--second img {
        width: 400px;
    }

    .fans__section-header {
        padding: 20px 33% 322px 35%;
    }

    .fans__section-header--tittle {
        font-size: 96px;
    }

    .fans__section--tittle {
        font-size: 30px;
    }

    .fans__initial-content--tittle {
        font-size: 44px;
    }

    .fans__movil-contain--tittle {
        font-size: 44px;
    }

    .fans__section--paragraph {
        font-size: 20px;
    }

    .fans__initial-content--paragraph {
        font-size: 20px;
    }

    .fans__section--subtittle {
        font-size: 44px;
    }

    .fans__movil-contain {
        width: 65%;
        padding-right: 24px;
    }

    .image__movil-image {
        width: 50%;
    }

    .fans__content-initial {
        width: 90%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 48px;
    }
    .fans__initial-content {
        width: 60%;
        padding-left: 24px;
    }

    .fans__initial-image {
        width: 30%;
        max-width: 600px;
    }
}

/* hi-res laptops and desktops */
@media (min-width: 1281px) {
    .fans__movil-contain {
        width: 70%;
    }
    .fans__community-section {
        padding: 48px 24px;
    }

    .fans__section-header {
        padding: 20px 33% 356px 33%;
    }

    .fans__content-cards--second {
        margin-top: 24px;
    }

    .fans__initial-content--tittle {
        font-size: 46px;
    }

    .fans__movil-contain--tittle {
        font-size: 46px;
    }

    .fans__initial-content--paragraph {
        font-size: 21px;
    }

    .fans__section--paragraph {
        font-size: 21px;
    }

    .fans__section-header--tittle {
        font-size: 108px;
    }

    .fans__section--subtittle {
        font-size: 46px;
    }

    .fans__section--tittle {
        font-size: 31px;
    }

    .image__movil-image {
        width: 40%;
    }

    .fans__initial-content {
        align-items: center;
    }
}

/* Large desktops (1920px and above) */
@media (min-width: 1920px) {
    .fans__movil-contain {
        width: 80%;
    }
    .image__movil-image {
        width: 35%;
    }

    .fans__content-movil {
        padding: 0 48px 48px;
    }

    .fans__community-section {
        padding: 48px;
    }

    .fans__section-header {
        padding: 20px 33% 356px 32%;
    }

    .fans__initial-content--tittle {
        font-size: 56px;
    }

    .fans__movil-contain--tittle {
        font-size: 56px;
    }

    .fans__initial-content--paragraph {
        font-size: 22px;
    }

    .fans__section--tittle {
        font-size: 32px;
    }

    .fans__section--paragraph {
        font-size: 22px;
    }

    .fans__section--subtittle {
        font-size: 56px;
    }

    .fans__section-header--tittle {
        font-size: 120px;
    }

    .fans__community-image {
        padding: 48px;
    }

    .fans__content-initial {
        display: flex;
    }

    .fans__initial-image {
        width: 40%;
    }

    .fans__initial-content {
        width: 50%;
    }
}

/* Ultra-wide desktops (2560px and above) */
@media (min-width: 2560px) {
    .fans__section-header {
        padding: 21px 32% 322px 30%;
    }

    .fans__section-header--tittle {
        font-size: 144px;
    }

    .fans__initial-content--tittle {
        font-size: 56px;
    }

    .fans__movil-contain--tittle {
        font-size: 56px;
    }

    .fans__initial-content--paragraph {
        font-size: 23px;
    }

    .fans__section--paragraph {
        font-size: 23px;
    }

    .fans__section--tittle {
        font-size: 40px;
    }

    .fans__section--subtittle {
        font-size: 56px;
    }

    .fans__content-community {
        width: 70%;
    }

    .fans__initial-image {
        width: 40%;
    }

    .fans__content-movil {
        width: 70%;
    }

    .fans__content-initial {
        width: 70%;
        align-items: center;
    }
}

/* 4K screens (3840px and above) */
@media (min-width: 3840px) {
    .fans__section-header--tittle {
        font-size: 180px;
    }

    .fans__initial-content--tittle {
        font-size: 72px;
    }

    .fans__movil-contain--tittle {
        font-size: 72px;
    }
    .fans__initial-content--paragraph {
        font-size: 24px;
    }

    .fans__content-community--content {
        font-size: 24px;
    }

    .fans__section--tittle {
        font-size: 40px;
    }

    .fans__section--subtittle {
        font-size: 72px;
    }

    .fans__content-movil {
        width: 60%;
    }

    .fans__content-community {
        width: 60%;
    }

    .fans__content-initial {
        width: 60%;
    }

    .fans__initial-content {
        width: 46%;
    }

    .fans__initial-image--collage {
        width: 150%;
    }
}
