/****************************************** Imports ******************************************/

@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,500,300,700);
@import url(https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap);

/****************************************** Root Variables ******************************************/

:root {
    --white: #ffffff;
    --lesser_white: #777474;
    --other_white: #ffffff8c;
    --black: black;
    --grey: #f3efef80;
    --light_grey: #2a2c2b06;
    --red: #ff0000;
    --red_PageantFans: #e30426;
    --fontOne: "Abhaya Libre", serif;
    --fontTwo: -apple-system, BlinkMacSystemFont, sans-serif;
}

/****************************************** General Reset ******************************************/

*,
*:before,
*:after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

body {
    background-color: var(--black);
    font-size: var(--fontTwo);
    padding: 0;
    margin: 0;
}

/* This is a video standard that is used to interact well in the jsx project */
video {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -0;
    opacity: 1;
    transition: opacity 0.5s ease;
}

.join-us__page {
    min-height: 100vh;
    background-color: var(--white);
}

/****************************************** Header styles ******************************************/

ul {
    padding: 0;
    list-style: none;
    margin: 0;
}

.header__top-bar {
    position: fixed;
    z-index: 3;
    align-items: center;
    justify-content: space-around;
    padding: 10px 20px;
    width: 100%;
    height: 84px;
    background: rgba(0, 0, 0, 0.35);
    backdrop-filter: blur(10px);
    overflow: auto;
}

.header__menu-large {
    display: flex;
    justify-content: space-around;
    gap: 110px;
}

.header__menu-bar {
    padding: 8px 0px;
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
}

.header__menu-container {
    list-style: none;
    display: flex;
    padding: 0;
    margin-left: -20px;
}

.header__menu-item {
    padding: 10px 20px;
}

.header__menu-link {
    color: var(--Colors-White, #fff);
    font-weight: 400;
    min-width: 100%;
    transition: all 0.4s ease-in-out;
    position: relative;
    display: inline-block;
    text-decoration: none;
}

.header__menu-link::before {
    content: attr(data-item);
    transition: all 0.4s ease-in-out;
    color: var(--red);
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    white-space: nowrap;
    overflow: hidden;
    -webkit-text-stroke: 1px var(--red);
}

.header__menu-link:hover::before {
    width: 100%;
}

.header__menu-button {
    color: var(--white);
    display: none;
    background: none;
    border: none;
}

.header__icon {
    color: var(--white);
    display: block;
}

.header__logo-bar {
    flex: 0 0 auto;
    text-align: center;
    position: absolute;
}

.header__logo {
    cursor: pointer;
}

.header__logo img {
    width: 60px;
    height: 47px;
}

.header__login-frame {
    display: flex;
    justify-content: flex-end;
    padding: 13px 0px;
    flex: 1;
    padding-right: 80px;
}

.header__login-frame h6 {
    font-weight: lighter;
    font-size: 16px;
}

.header__dropdown-menu {
    padding: 60px 60px;
    animation: scale-up-vertical-top 0.2s linear;
}

.header__expanded-menu-link {
    color: var(--white);
    text-decoration: none;
    cursor: pointer;
    font-size: 30px;
}

.header__expanded-menu-item {
    font-size: 30px;
    padding: 20px 20px;
    font-weight: 500;
}

.button__global--icon-join {
    display: none;
}

#header_button--close--menu {
    animation: rotate-center 0.4s;
}

#header__button--menu {
    animation: rotate-horizontal-center 0.4s;
}

/****************************************** Slider navigation buttons ******************************************/

.next-button-right,
.next-button-left {
    z-index: 2;
    border-radius: 50%;
    position: absolute;
    top: 330px;
    cursor: pointer;
    padding: 12px;
    background: rgba(97, 97, 97, 0.5);
    border: none;
}

.next-button-right {
    right: 80px;
}

.next-button-left {
    left: 80px;
}

/**************************************** General button format ****************************************/

.button__global--red {
    border: none;
    border-radius: 20px;
    padding: 10px 12px;
    color: var(--white);
    background-color: var(--red_PageantFans);
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

.button__global--red:hover {
    background-color: var(--white);
    color: var(--red_PageantFans);
    backdrop-filter: blur(5px);
    animation: button__global--red.9s linear both;
}

/**************************************** Footer styles ****************************************/

.footer__main {
    display: flex;
    width: 100%;
    flex-direction: column;
    background: var(--black);
}

.footer {
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    width: 100%;
    font: bold 16px sans-serif;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

.footer__container-logo {
    display: flex;
    flex-direction: column;
    width: 30%;
    align-items: center;
    justify-content: center;
}

.footer__container-logo--img {
    width: 15rem;
}

.footer__container-social--networks {
    height: 50px;
    gap: 20px;
    background-color: var(--black);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer__container-social--networks a {
    width: 20px;
    color: var(--white);
}

.footer__container-social--networks a i {
    font-size: 24px;
    color: var(--white);
}

.footer--links {
    display: flex;
    flex-direction: column;
    width: 33.3%;
    align-items: center;
    justify-content: center;
}

.footer__links-container {
    color: var(--white);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.footer__links-container > *:not(:last-child) {
    margin-right: 15px;
}

.footer__links-container a {
    gap: 20px;
    color: var(--white);
    text-decoration: none;
}

.footer__selectors {
    display: flex;
    flex-direction: row;
    width: 33.3%;
    align-items: center;
    justify-content: center;
}

.footer__selectors-container {
    margin: 0px 10px;
    padding: 8px;
    border-radius: 50px;
    display: flex;
    align-items: center;
    background: rgba(255, 255, 255, 0.3);
}

.footer__selectors-container select {
    background: transparent;
    color: var(--white);
    border: none;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}

#cash-selector,
#language-selector {
    border: none;
    border-radius: 20px;
    padding: 6px 12px;
    font-size: 16px;
    color: var(--white);
    appearance: none;
    cursor: pointer;
    outline: none;
    transition: background 0.3s ease, transform 0.2s ease;

    background-image: url('data:image/svg+xml;charset=UTF-8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" style="fill: rgba(255, 255, 255, 1);transform: ;msFilter:;"><path d="M16.293 9.293 12 13.586 7.707 9.293l-1.414 1.414L12 16.414l5.707-5.707z"></path></svg>');
    background-repeat: no-repeat;
    background-position: right 12px center;
    background-size: 28px;
    padding-right: 40px;
}

#cash-selector:hover,
#language-selector:hover {
    background: rgba(255, 255, 255, 0.137);
    color: var(--white);
}

#cash-selector:focus,
#language-selector:focus {
    background: rgba(255, 255, 255, 0.137);
    transform: scale(1.05);
}

.footer__selectors-container box-icon {
    margin-right: 8px;
}

.footer__select-option {
    background: #222;
    color: rgba(255, 255, 255, 0.39);
}

.footer__terms {
    text-align: center;
    padding: 30px 10px 0px 10px;
    background-color: #000;
    font-size: 9px;
    color: var(--Colors-Gray-Gray-09, #8b898b);
}

.footer__terms-paragraph {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 8px;
    font-weight: 800;
    margin-bottom: 20px;
}

/* ------------------- Media queries of the elements ------------------- */

@media (min-width: 320px) {
    .next-button-right {
        right: 24px;
    }

    .next-button-left {
        left: 24px;
    }

    .footer {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .footer__links {
        width: 100%;
        margin: 5% 0px;
        display: flex;
        justify-content: center;
    }

    .footer__links-container > *:not(:last-child) {
        text-align: left;
    }

    .footer__links-container {
        flex-direction: column;
        margin: 10px 0;
        align-items: flex-start;
        gap: 10px;
        width: 70%;
    }

    .footer__links-container a {
        margin: 5px;
        font-size: 18px;
        text-decoration: none;
    }

    .footer__selectors {
        width: 100%;
        flex-direction: column;
    }

    .footer__selectors-container {
        margin: 10px;
        width: 70%;
        padding: 3px 8px;
    }

    #cash-selector,
    #language-selector {
        display: flex;
        width: 100%;
    }
}

@media (min-width: 480px) {
    .next-button-right {
        right: 28px;
    }

    .next-button-left {
        left: 28px;
    }
}

@media only screen and (min-width: 600px) {
    .header__top-bar {
        padding: 10px 0px;
    }

    .header__menu-container {
        margin-left: -10px;
    }

    .header__menu-item {
        padding: 8px 15px;
    }

    .next-button-right {
        right: 30px;
    }

    .next-button-left {
        left: 30px;
    }
}

@media only screen and (max-width: 600px) {
    .header__top-bar {
        padding: 10px 0px;
    }

    .header__menu-bar {
        padding-bottom: 10px;
    }

    .header__menu-container {
        align-items: center;
        margin-left: 0;
    }

    .header__menu-item {
        padding: 5px;
    }

    .header__login-frame {
        justify-content: flex-end;
        padding: 13px 0px;
        width: 0px;
    }

    .header__login-frame h6 {
        display: none;
    }

    .button__global-join {
        display: none;
    }

    .button__global--icon-join {
        display: block;
    }
}

@media only screen and (max-width: 700px) {
    .next-button-left {
        top: 280px;
        left: 20px;
    }

    .next-button-right {
        top: 280px;
        right: 20px;
    }

    .header__top-bar {
        padding: 10px 0px;
    }

    .header__menu-container {
        margin-left: -15px;
    }

    .header__menu-item {
        padding: 10px 20px;
    }
}

@media only screen and (min-width: 800px) {
    .footer {
        flex-direction: column;
    }

    .footer__links-container {
        flex-direction: row;
    }

    .footer__selectors {
        width: 90%;
        flex-direction: column;
    }

    .footer__links {
        width: 100%;
        margin: 2% 0px;
    }
}

@media only screen and (min-width: 992px) {
    .header__menu-container {
        margin-left: -20px;
    }

    .header__top-bar {
        padding: 10px 0px;
    }

    .header__menu-item {
        padding: 10px 25px;
    }
}

@media (max-width: 1252px) {
    .header__menu-bar {
        display: none;
    }

    .header__menu-button {
        display: block;
        border-style: none;
        background-color: transparent;
        cursor: pointer;
    }

    .header__login-frame {
        padding-right: 0px;
        flex: none;
    }

    .header__dropdown-menu {
        display: none;
    }
}

@media only screen and (min-width: 1280px) {
    .footer {
        flex-direction: row;
        align-items: center;
        text-align: center;
        padding: 0 24px;
    }

    .footer__links {
        width: 100%;
        margin: 5% 0px;
        display: flex;
        justify-content: center;
    }

    .footer__links-container > *:not(:last-child) {
        text-align: left;
    }

    .footer__links-container a {
        margin: 5px;
        font-size: 18px;
        text-decoration: none;
    }

    .footer__selectors-container {
        margin: 10px;
        width: 70%;
        padding: 3px 8px;
    }

    #cash-selector,
    #language-selector {
        display: flex;
        width: 100%;
    }

    .footer__selectors {
        width: 70%;
        flex-direction: row;
    }

    .footer__links-container {
        flex-direction: row;
        margin: 10px 0;
        align-items: flex-start;
        gap: 10px;
        width: 100%;
    }
}

@media only screen and (min-width: 1920px) {
    .footer__selectors {
        width: 30%;
    }

    .footer__links {
        margin: 0;
    }
}

/**************************************** Animations ****************************************/

/*------------------- Header animation -------------------*/
@keyframes scale-up-vertical-top {
    0% {
        transform: scaleY(0.2);
        transform-origin: center top;
    }

    100% {
        transform: scaleY(1);
        transform-origin: center top;
    }
}

@keyframes rotate-center {
    0% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes rotate-horizontal-center {
    0% {
        transform: rotateX(0);
    }

    100% {
        transform: rotateX(-360deg);
    }
}

/*------------------- Button animation -------------------*/
@keyframes button__global--red {
    0% {
        transform: scale3d(1, 1, 1);
    }

    30% {
        transform: scale3d(0.75, 1.25, 1);
    }

    40% {
        transform: scale3d(1.25, 0.75, 1);
    }

    50% {
        transform: scale3d(0.85, 1.15, 1);
    }

    65% {
        transform: scale3d(1.05, 0.95, 1);
    }

    75% {
        transform: scale3d(0.95, 1.05, 1);
    }

    100% {
        transform: scale3d(1, 1, 1);
    }
}

@keyframes blur-in {
    0% {
        filter: blur(12px);
        opacity: 0;
    }

    100% {
        filter: blur(0);
        opacity: 1;
    }
}
