/* --------------------------Start of About Us styles.-------------------------- */
.about {
    animation: blur-in 0.4s linear both;
}

.about__banner--video {
    position: inherit;
    height: 800px;
    flex-shrink: 0;
}

.about__banner--overlay {
    width: 55%;
    margin-top: -35px;
    position: absolute;
    top: 350px;
    left: 27%;
    transform: translate(-50%, -50%);
    z-index: 1;
    line-height: 1.5;
}

.about__banner--content {
    width: 100%;
    min-height: 250px;
    background: linear-gradient(
        270deg,
        rgba(0, 0, 0, 0) 0%,
        rgba(0, 0, 0, 0.71) 60%
    );
    padding: 350px 33% 350px 24%;
}

.about__separator {
    position: absolute;
    top: 650px;
    width: 100%;
    height: 300px;
    background: linear-gradient(
        0deg,
        rgba(0, 0, 0, 0) 0%,
        rgba(0, 0, 0, 1) 40%,
        rgba(0, 0, 0, 1) 65%,
        rgba(0, 0, 0, 0) 90%
    );
}

.about__content--video {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1;
    object-fit: cover;
}

.about__information {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 6% 9%;
    z-index: 2;
}

.about__banner--content-title {
    color: #ffffff;
    font-size: 120px;
    font-family: "Abhaya Libre", serif;
}

.about__content {
    padding: 100px 0px;
    position: relative;
    width: 100%;
    height: auto;
    overflow: hidden;
}

.about__ceo {
    background: rgba(255, 255, 255, 0.06);
    backdrop-filter: blur(20px);
    border-radius: 24px;
    overflow: hidden;
    margin-bottom: 50px;
    width: 70%;
}

.about__ceo--content-video {
    opacity: 0.7;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1;
    object-fit: cover;
}

.about__information--title {
    font-size: 44px;
    color: #ffffff;
    margin: 24px;
}

.about__information--description {
    width: 70%;
    text-align: center;
}

.about__information--description-text {
    text-align: left;
    color: #fff;
    margin-bottom: 24px;
    font-size: 16px;
    line-height: 1.5;
}

.about__information--industry {
    color: #fff;
    font-size: 44px;
}

.about__ceo--content {
    display: flex;
}

.about__ceo--content-img {
    width: 500px;
    object-fit: cover;
    object-position: 50% 5%;
}

.about__ceo--content-img--co {
    height: auto;
    width: 35%;
    object-fit: cover;
    object-position: 50% 5%;
}

.about__ceo--details {
    padding: 50px;
    text-align: justify;
}

.about__ceo--details-name {
    font-size: 24px;
    color: #7c8696;
    text-align: center;
}

.about__ceo--details-subtitle {
    color: #e30426;
    text-align: center;
    font-size: 30px;
    letter-spacing: -0.5px;
}

.about__ceo--details-content {
    color: rgba(255, 255, 255, 0.815);
    margin-top: 24px;
    line-height: 1.5;
    font-size: 18px;
}

.about__card {
    width: 70%;
    display: flex;
    justify-content: center;
}

.about__card--award {
    width: 100%;
    background: linear-gradient(
        0deg,
        rgba(2, 0, 36, 0.35) 0%,
        rgba(49, 73, 106, 0.35) 50%,
        rgba(65, 88, 125, 0.35) 100%
    );
    backdrop-filter: blur(20px);
    border-radius: 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.about__card--award-img {
    width: 300px;
    min-width: 136px;
    object-fit: contain;
}

.about__card--award-content {
    text-align: justify;
}

.about__card--award-content-title {
    color: #fff;
    text-align: center;
    padding: 24px;
    font-size: 44px;
}

.about__card--award-content-description {
    color: rgba(255, 255, 255, 0.815);
    margin: 24px;
    line-height: 1.5;
    font-size: 21px;
}

.about__information--description-title {
    font-size: 44px;
    padding-top: 10%;
    margin-bottom: 24px;
    color: #fff;
}

/* --------------------------Responsive.-------------------------- */

/* Smartphones, portrait iPhone, portrait 480x320 phones (Android) */
@media (min-width: 320px) {
    .about__banner--content-title {
        font-size: 48px;
    }

    .about__information--title {
        font-size: 24px;
    }

    .about__ceo--content {
        display: flex;
        flex-direction: column;
    }

    .about__information--industry {
        font-size: 24px;
        color: #fff;
        text-align: center;
    }

    .about__ceo--content-img {
        width: 100%;
        height: auto;
        object-position: 50% 30%;
    }

    .about__ceo--content-img--co {
        width: 100%;
        height: 250px;
    }

    .about__information {
        padding: 0;
    }

    .about__ceo--details {
        padding: 15px;
        text-align: left;
    }

    .about__ceo--details-content {
        font-size: 16px;
    }

    .about__ceo--details-name {
        font-size: 24px;
        margin: 24px;
    }

    .about__card--award {
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
    }

    .about__card--award-content {
        text-align: left;
    }

    .about__information--description-title {
        font-size: 24px;
        padding-top: 24px;
    }

    .about__card {
        padding: 24px;
    }

    .about__card--award-img {
        width: 200px;
        padding: 24px;
    }

    .about__card--award-content-title {
        color: #fff;
        padding: 24px;
        font-size: 24px;
    }

    .about__ceo--details-subtitle {
        font-size: 18px;
    }
}

/* smartphones, Android phones, landscape iPhone */
@media (min-width: 480px) {
    .about__banner--content-title {
        font-size: 60px;
    }

    .about__information--description-text,
    .about__ceo--details-content,
    .about__card--award-content-description {
        font-size: 17px;
    }

    .about__information--description-title,
    .about__information--title,
    .about__ceo--details-name,
    .about__information--industry {
        font-size: 32px;
    }

    .about__ceo--details-subtitle {
        font-size: 20px;
    }

    .about__card--award-content-title {
        color: #fff;
        padding: 24px;
        font-size: 32px;
    }
    .about__ceo--content-img {
        width: 100%;
        height: auto;
    }
    .about__ceo--content-img--co {
        width: 100%;
        height: 300px;
    }
}

/* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */
@media (min-width: 600px) {
    .about__banner--content-title {
        font-size: 72px;
        line-height: normal;
    }

    .about__information--description-title {
        font-size: 36px;
        padding-top: 40px;
    }

    .about__information--title,
    .about__ceo--details-name,
    .about__information--industry,
    .about__card--award-content-title {
        font-size: 36px;
    }

    .about__ceo--content-img {
        width: 100%;
        height: auto;
    }

    .about__ceo--content-img--co {
        width: 100%;
        height: 400px;
        object-position: 50% 15%;
    }

    .about__card--award {
        padding-top: 24px;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
        width: 100%;
    }

    .about__ceo--details-subtitle {
        font-size: 24px;
    }

    .about__ceo--details-content,
    .about__information--description-text {
        font-size: 18px;
    }
}

/* tablet, landscape iPad, lo-res laptops and desktops */
@media (min-width: 800px) {
    .about__card--award-content-title,
    .about__information--title,
    .about__information--industry,
    .about__information--description-title,
    .about__ceo--details-name {
        font-size: 40px;
    }

    .about__ceo--details-subtitle {
        font-size: 28px;
    }

    .about__ceo--details-content,
    .about__information--description-text,
    .about__card--award-content-description {
        font-size: 19px;
    }

    .about__banner--content-title {
        font-size: 84px;
    }

    .about__card--award {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        flex-direction: row;
        padding: 20px 20px;
    }

    .about__card--award-img {
        width: 30%;
        padding: 4px;
        margin-top: auto;
        margin-bottom: auto;
        margin-left: auto;
        margin-right: auto;
    }

    .about__card--award-content {
        text-align: left;
        max-width: 60%;
        padding: 4px;
        margin-top: auto;
        margin-bottom: auto;
        margin-left: auto;
        margin-right: auto;
    }

    .about__card--award-content-title {
        text-align: left;
    }

    .about__ceo--content-img {
        width: 100%;
        height: auto;
    }

    .about__ceo--content-img--co {
        object-position: 40% 15%;
        width: 100%;
        height: 500px;
    }
}

@media (min-width: 860px) {
    .about__card--award-content {
        margin-top: 15px;
    }
}

@media (min-width: 940px) {
    .about__card--award-content {
        margin-top: 35px;
    }
}

/* big landscape tablets, laptops, and desktops */
@media (min-width: 1025px) {
    .about__ceo--content {
        display: flex;
        flex-wrap: nowrap;
        flex-direction: row;
    }

    .about__ceo {
        width: 70%;
    }

    .about__ceo--details-subtitle {
        font-size: 30px;
    }

    .about__ceo--details-content,
    .about__information--description-text {
        font-size: 20px;
    }

    .about__information--industry,
    .about__information--description-title,
    .about__information--title {
        font-size: 44px;
    }

    .about__card--award-content {
        max-width: 60%;
        padding: 4px;
    }

    .about__card--award {
        padding: 20px 20px;
        height: 300px;
    }

    .about__card--award-img {
        width: 30%;
        padding: 4px;
    }

    .about__ceo--content-img {
        width: 290px;
        height: auto;
    }

    .about__ceo--content-img--co {
        object-position: 40% 15%;
        width: 290px;
        height: auto;
    }
}

/* hi-res laptops and desktops */
@media (min-width: 1281px) {
    .about__banner--content-title {
        font-size: 108px;
    }

    .about__ceo--content-img {
        width: 420px;
    }

    .about__ceo--content-img--co {
        width: 420px;
        height: auto;
    }

    .about__card--award {
        height: 350px;
        padding: 20px 20px;
    }

    .about__ceo--details-subtitle {
        font-size: 31px;
    }

    .about__ceo--details-content {
        padding: 0 24px;
        font-size: 21px;
    }

    .about__information--industry,
    .about__information--description-title,
    .about__information--title {
        font-size: 46px;
    }

    .about__information--description-text,
    .about__card--award-content-description {
        font-size: 21px;
    }

    .about__card--award-content-title,
    .about__ceo--details-name {
        font-size: 44px;
    }

    .about__card--award-img {
        width: 300px;
        padding: 4px;
    }

    .about__card--award-content {
        max-width: 60%;
        padding: 4px;
        margin-top: auto;
        margin-bottom: auto;
    }
}

/* Ultra-wide desktops (2560px and above) */
@media (min-width: 2560px) {
    .about__banner--content-title {
        font-size: 120px;
    }

    .about__card--award-content-description {
        font-size: 22px;
    }

    .about__ceo--details-name {
        font-size: 48px;
    }

    .about__ceo--details-subtitle {
        font-size: 40px;
    }

    .about__ceo--details-content {
        padding: 0 24px;
        font-size: 22px;
    }

    .about__information--description-text {
        font-size: 22px;
    }

    .about__information--title,
    .about__information--description-title,
    .about__information--industry {
        font-size: 56px;
    }

    .about__card--award {
        padding: 20px 20px;
        height: 450px;
    }

    .about__card--award-img {
        width: 400px;
        padding: 4px;
    }

    .about__card--award-content {
        max-width: 60%;
        padding: 4px;
    }

    .about__ceo--content-img {
        width: 420px;
        height: 580px;
    }
    .about__ceo--content-img--co {
        width: 420px;
        height: auto;
    }
}

/* 4K screens (3840px and above) */
@media (min-width: 3840px) {
    .about__banner--content-title {
        font-size: 180px;
    }

    .about__ceo--details-name {
        font-size: 72px;
    }

    .about__ceo--details-subtitle {
        font-size: 48px;
    }

    .about__information--description-text,
    .about__ceo--details-content,
    .about__card--award-content-description {
        font-size: 24px;
    }

    .about__card--award {
        padding: 20px 20px;
        height: 450px;
    }

    .about__card--award-img {
        width: 400px;
        padding: 4px;
    }

    .about__card--award-content {
        max-width: 60%;
        padding: 4px;
    }
}
